{% extends 'base.html' %}

{% block title %}
Welcome
{% endblock %}

{% block content %}
    <div class="hero">
        <div class="hero-content">
            <div class="left">
                <h1>I am Full-Stack Developer</h1>
                <h1>Cristian Rodriguez</h1>
                <p>I develop dynamic Python applications using relational databases.</p>
                <a href="#contact" class="btn">Contact me</a>
            </div>
            <div class="right">
                <img src="{{ url_for('static', filename='app_dev.png') }}" width=600px />
            </div>
        </div>
    </div>
{% include 'portfolio/section-first.html' %}
{% include 'portfolio/section-second.html' %}
{% include 'portfolio/section-third.html' %}
{% endblock %}