<div class="center padded white-bg">
    <div class="content padded">
        <div class="padded">
            <h1>
                See in more detail what I have worked with.
            </h1>
        </div>
        <div class="row">
            <div class="card third">
                <h3>Mailer App</h3>
                <p>An application to send emails using SendGrid API.</p>
                <a class='orange' target="_blank" href="https://web-production-d30a.up.railway.app/">Link here</a>
            </div>
            <div class="card third">
                <h3>Customer Booklet</h3>
                <p>An application to manage a customers booklet.</p>
                <a class='orange' href="{{ url_for('static', filename='CRM Customer_Booklet.exe') }}">Link here</a>
            </div>
            <div class="card third">
                <h3>Task Manager</h3>
                <p>An application to manage to-do tasks.</p>
                <a class='orange' href="{{ url_for('static', filename='Todo_list.exe') }}">Link here</a>
            </div>
        </div>
    </div>
</div>