<div class="center">
    <div class="content">
        <div class="row vert-pad">
            <div class="left padded">
                <h1>Interactive development of my applications and websites for people.</h1>
                <p>I am constantly learning new technologies and developing applications as a hobby. I built this website from scratch with Python and Flask! And I want to develop much more of this activity.</p>

            </div>
            <div class="right padded">
                <h1>We can discuss in more detail</h1>
                <p>Just send me an e-mail <a class="orange" href="#contact">here</a> </p>
            </div>
        </div>
    </div>
</div>
